[flake8]
max-line-length = 79
filename = *.py
count = True
statistics = True
max-complexity = 10
output-file = .flake8.log
per-file-ignores = __init__.py:F401,F403, apps.py:F401,F403
exclude =
    env,
    static,
    media,
    docs,
    locale,
    migrations,
    __pycache__,
    .git,
    config/settings/base.py,
    config/settings/local.py,
    config/settings/production.py
